.hourlyForecast {
  h3 {
    text-align: left;
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  .chartWrapper {
    width: 100%;
    background-color: var(--forecast-bg);
    border-radius: 0.8rem;
    padding: 1rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);

    .recharts-wrapper {
      margin-top: 1rem;
    }

    .chartFooter {
      display: flex;
      justify-content: space-around;
      margin-top: 1rem;
      border-top: 1px solid #eee;
      padding-top: 0.8rem;

      div {
        text-align: center;
        font-size: 0.8rem;
        color: #777;

        span {
          display: block;
          margin-top: 0.3rem;
          font-weight: 500;
          color: #555;
        }
      }
    }
  }
}
